body {
    margin: 0;
    background-color: rgb(58, 109, 155);
}

#container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 1fr;
    background-color: rgb(78, 150, 126);
}

#topBox {
background-color: rgb(105, 73, 33);
}

#mainBox {
background-color: rgb(119, 42, 192);
display: grid;
}

#gameScreen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10fr 1fr;
}

#leftPlayer {
background-color: rgb(163, 163, 85);
display: grid;
grid-template-rows: 10fr 1fr;
}

.checkBoard {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* height: 100%; */
    margin: 5px;
}
.tile {
    display: grid;
    margin: 0px;
    border: 1px;
    border-style: solid;
    /* color: rgba(255, 196, 196, 0) !important; */
}

.occupied {
    background-color: azure;
}

#rightPlayer {
background-color: rgb(131, 123, 114);
display: grid;
grid-template-rows: 10fr 1fr;
}

#buttons {
background-color: blue;
grid-area: 2/1/3/3;
margin: 10px;
}

#bottomBox {
background-color: brown;
}